*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-pills .nav-link.active, .btn-regras {
    background-color: #ff7a00;
    color: #fff;
}

.btn-regras:hover {
    background-color: #e66a00;
    color: #fff;
    scale: 1.05;
    transition: all 0.3s ease-in-out;
}


.card-header, .card-body {
    border: none;
}
